﻿@model DevLab_PostoAmigo.Models.BenefitModel

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper full-wide">
    <!-- Content Header (Page header) -->
    @*<section class="content-header">
            <h1>Dashboard</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
            </ol>
        </section>*@

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="chart-box">
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset class="form-group">
                                <label>IBM</label>
                                <input class="form-control" id="basicInput" type="text" value="@Model.Ibm" readonly="readonly">
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group">
                                <label>Tipo de benefício</label>
                                <input class="form-control" id="basicInput" type="text" value="@Model.NameType" readonly="readonly">
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group">
                                <label>Quantidade de benefícios disponiveis para a promoção</label>
                                <input class="form-control" id="basicInput" type="text" value="@Model.Quantity" readonly="readonly">
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group">
                                <label>Data de início da promoção</label>
                                <input class="form-control" id="basicInput" type="text" value="@String.Format("{0:dd/MM/yyyy}", @Model.DateStart)" readonly="readonly">
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group">
                                <label>Data do término da promoção</label>
                                <input class="form-control" id="basicInput" type="text" value="@String.Format("{0:dd/MM/yyyy}", @Model.DateEnd)" readonly="readonly">
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset class="form-group">
                                <label>Descrição do funcionamento da mecânica para a entrega do benefício</label>
                                <textarea class="form-control" id="txtDescription" rows="10">@Model.Description</textarea>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group">
                                <label>Observações adicionais sobre o benefício a ser disponibilizado</label>
                                <textarea class="form-control" id="txtComments" rows="10">@Model.Comments</textarea>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset class="form-group">
                                <label>Status</label>
                                <select class="form-control" id="IdStatus">
                                    @foreach (var item in Model.ListStatusBenefit)
                                    {
                                        if (item.IdStatus == Model.IdStatus)
                                        {
                                            <option value="@item.IdStatus" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.IdStatus">@item.Name</option>
                                        }
                                    }
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group" id="dvReason">
                                <label>Motivo</label>
                                <textarea class="form-control" id="txtReason" rows="10">@Model.Reason</textarea>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="hidden" value="@Model.IdBenefit" id="IdBenefit" />
                            <a href="#" id="btnVoltar" class="btn btn-warning btn-rounded">Voltar</a>
                            <a href="#" id="btnSalvar" class="btn btn-info btn-rounded">Salvar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- content -->
</div>
<!-- content-wrapper -->
<!-- content-wrapper -->

@section scripts {
    <!-- Custom -->
    <script src="~/Scripts/dist/js/BenefitDetails.js"></script>
}