﻿@model DevLab_PostoAmigo.Models.LoginModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "col-form" }))
{
    @*<form action="" class="col-form" novalidate>*@
    <div class="col-logo"></div>
    <header>Benefícios do Posto</header>
    <fieldset>
        <section>
            <div class="form-group has-feedback">
                <label class="control-label">E-mail</label>
                @Html.TextBoxFor(x => x.Login, new { @class = "form-control", maxlength = 150, @placeholder = "E-mail", @required = true })
                <span class="fa fa-envelope form-control-feedback" aria-hidden="true"></span>
            </div>
        </section>
        <section>
            <div class="form-group has-feedback">
                <label class="control-label">Password</label>
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", maxlength = 25, @placeholder = "Password", @required = true, @type = "password" })
                <span class="fa fa-lock form-control-feedback" aria-hidden="true"></span>
            </div>
        </section>
    </fieldset>
    <footer class="text-right">
        <button type="submit" name="btnLogin" id="btnLogin" class="btn btn-info pull-right">Login</button>
    </footer>

    <input type="hidden" id="success" value="@ViewBag.Success" />
    @*</form>*@

}

@section scripts
    {
    <script>
        
        $(document).ready(function () {
            debugger;
            var callback = $("#success").val();

            if (callback == 'Incorreto') {
                alerta("Atenção", "Usuário ou senha incorreto!");
            }

        });

    </script>
}